<div class="setBackground"></div>
<div id="header" class="header">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 col-md-6 wow bounceInLeft">
        <h2>BuffaloFinance</h2>
        <p>
          Finance your stocks with our MEAN Stack project. Designed to be a professional-like application
          to manage your stocks, apply them to portfolios and compare prices. The vision for this project
          stems from Yahoo!Finance but due to limitations  on dynamic updates on current stocks, the project
          was made to contain static stock data.
        </p>
        <button class="btn btn-lg btn-primary" (click)="gotoDetails()">View Stocks</button>
        <button class="btn btn-lg btn-success" (click)="gotoSignUp()">Sign Up</button>
      </div>
    </div>
  </div>
</div>
<!-- End of Header Section -->

<!-- Features -->
<div id="features" class="features">
  <div class="container">
    <h2>Features</h2>
    <p>See what can be accomplished in this application.</p>
    <div class="row">
      <div class="col-lg-3 col-md-3 wow fadeInLeft" data-wow-delay="1.8s">
        <i class="fa fa-line-chart" aria-hidden="true"></i>
        <h4>Load any stock</h4>
        <p>Stocks can be dynamically searched for and you can view them in chart format or look at its details.</p>
      </div>
      <div class="col-lg-3 col-md-3 wow fadeInLeft" data-wow-delay="1.4s">
        <i class="fa fa-folder-open" aria-hidden="true"></i>
        <h4>Store them into portfolios</h4>
        <p>Stocks can be made into portfolios which allow you to view a consolidated performance.</p>
      </div>
      <div class="col-lg-3 col-md-3 wow fadeInLeft" data-wow-delay="0.8s">
        <i class="fa fa-user" aria-hidden="true"></i>
        <h4>Create an account</h4>
        <p>By signing up, we store your created portfolios into our database.</p>
      </div>
      <div class="col-lg-3 col-md-3 wow fadeInLeft" data-wow-delay="0.4s">
        <i class="fa fa-money" aria-hidden="true"></i>
        <h4>Compare portfolio performance</h4>
        <p>Test your portfolios against other stocks and see the portfolio's profits</p>
      </div>
    </div>
  </div>
</div>
<!-- End of Services -->

<!-- Technologies -->
<div class="setColorBackground"></div>
<div id="tech" class="tech">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <h2>Technologies</h2>
        <p>The following technologies were what this application was built upon</p>
      </div>
      <div class="col-lg-3 col-md-3 wow flipInY" data-wow-delay="0.8s">
        <div class="list">
          <h4>Angular</h4>
          <img src="../../../assets/angular.png" alt="Angular"><br/>
          <b>Front-End</b>
          <p>Typescript MVC framework</p>
          <hr>
          <li>Built all components</li>
          <li>Typescript oriented</li>
          <li>Single-page application</li>
          <li>Model–view–controller</li>
        </div>
      </div>
      <div class="col-lg-3 col-md-3 wow flipInY" data-wow-delay="1.2s">
        <div class="list">
          <h4>NodeJS</h4>
          <img src="../../../assets/nodejs.png" alt="Angular"><br/>
          <b>Back-End</b><br/>
          <span>Execution environment for event-driven server-side</span>
          <hr>
          <li>Event-driven architecture</li>
          <li>Handled Piping</li>
          <li>Asynchronous I/O</li>
          <li>Authentication</li>
        </div>
      </div>
      <div class="col-lg-3 col-md-3 wow flipInY" data-wow-delay="1.6s">
        <div class="list">
          <h4>Express</h4>
          <img src="../../../assets/express.png" alt="Angular"><br/>
          <b>Framework</b>
          <p>Back-End framework</p>
          <hr>
          <li>Robust set of features</li>
          <li>HTTP utility methods</li>
          <li>Thin and minimal layer</li>
          <li><br/></li> <!-- Empty to make cards have same size -->
        </div>
      </div>
      <div class="col-lg-3 col-md-3 wow flipInY" data-wow-delay="2s">
        <div class="list">
          <h4>MongoDB</h4>
          <img src="../../../assets/mongodb.png" alt="Angular"><br/>
          <b>Database</b><br/>
          <span>Document-oriented NoSQL database program</span>
          <hr>
          <li>JSON-like documents</li>
          <li>Stored stock data</li>
          <li>Stored user's portfolios</li>
          <li><br/></li> <!-- Empty to make cards have same size -->
        </div>
      </div>
    </div>
  </div>
</div>
<!-- End of Technologies -->

<!-- Team -->
<div class="team">
  <div class="container">
    <div class="row">
      <h2>Meet Our Team</h2>
      <p>These were the developers which participated in the entire project</p>
      <div class="col-lg-3 col-md-3 wow fadeInLeft" data-wow-delay="2s"> <!-- Rodrigo -->
        <img src="../../../assets/rodrigo.jpg" class="img-circle" alt="Rodrigo Oliveira">
        <h4>Rodrigo Oliveira</h4>
        <b>Project Lead</b>
        <p>Back-End engineer who led the project while creating his own branch using material design UI.</p>
        <a href="https://github.com/rodrigocso"><i class="fa fa-github" aria-hidden="true"></i></a>
        <a href="https://www.linkedin.com/in/rodrigo-correa-da-silva-oliveira-50457429/"><i class="fa fa-linkedin-square" aria-hidden="true"></i></a>
        <a href="https://www.facebook.com/rodrigocsoliveira"><i class="fa fa-facebook-official" aria-hidden="true"></i></a>
      </div>
      <div class="col-lg-3 col-md-3 wow fadeInLeft" data-wow-delay="1.6s"><!-- Oleh -->
        <img src="../../../assets/oleh.jpg" class="img-circle" alt="Oleh Harkusha">
        <h4>Oleh Harkusha</h4>
        <b>Front-End Developer</b>
        <p>Developer who constantly implemented on all components and handled security data info.</p>
        <a href="https://github.com/olehharkusha93"><i class="fa fa-github" aria-hidden="true"></i></a>
        <a href="https://www.linkedin.com/in/oleh-harkusha-91a253144/"><i class="fa fa-linkedin-square" aria-hidden="true"></i></a>
        <a href="https://www.facebook.com/oleh.harkusha"><i class="fa fa-facebook-official" aria-hidden="true"></i></a>
      </div>
      <div class="col-lg-3 col-md-3 wow fadeInLeft" data-wow-delay="1.2s"><!-- Gabriel -->
        <img src="../../../assets/gabriel.jpg" class="img-circle" alt="Gabriel Leo">
        <h4>Gabriel Leo</h4>
        <b>Front-End Developer</b>
        <p>Developer who was in charge of overall design and implementing chart functionality.</p>
        <a href="https://github.com/Gabriel-fi"><i class="fa fa-github" aria-hidden="true"></i></a>
        <a href="https://www.linkedin.com/in/gabriel-leo/"><i class="fa fa-linkedin-square" aria-hidden="true"></i></a>
        <a href="https://www.facebook.com/gabriel.figueiredo.37819"><i class="fa fa-facebook-official" aria-hidden="true"></i></a>
      </div>
      <div class="col-lg-3 col-md-3 wow fadeInLeft" data-wow-delay="0.8s"><!-- Mario -->
        <img src="../../../assets/mario.jpg" class="img-circle" alt="Mario Martinez">
        <h4>Mario Martinez</h4>
        <b>Front-End Developer</b>
        <p>Developer who implemented portfolio functionality and handled back-end API calls.</p>
        <a href="https://github.com/mariomartinez97"><i class="fa fa-github" aria-hidden="true"></i></a>
        <a href="https://www.linkedin.com/in/mario-miguel-martinez-7ab431110/"><i class="fa fa-linkedin-square" aria-hidden="true"></i></a>
        <a href="https://www.facebook.com/mariomiguel.martinez.3"><i class="fa fa-facebook-official" aria-hidden="true"></i></a>
      </div>
    </div>
  </div>
</div>
<!-- End of Team -->

<!-- Contact -->
<div class="setColorBackground"></div>
<div id="contact" class="contact">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <h2>Contact Us</h2>
        <p>We love feedback, please send us suggestions or ask how we can help!</p>
      </div>
      <div class="col-lg-6 col-md-6 wow fadeInUp" data-wow-delay="0.8s"><!-- Input Section: Name, Phone, Email -->
        <div class="input-group input-group-lg">
          <span class="input-group-addon" id="sizing-addon1"><i class="fa fa-user" aria-hidden="true"></i></span>
          <input type="text" class="form-control" aria-describedby="sizing-addon1" placeholder="Full Name">
        </div>
        <div class="input-group input-group-lg wow fadeInUp" data-wow-delay="1.2s">
          <span class="input-group-addon" id="sizing-addon1"><i class="fa fa-envelope" aria-hidden="true"></i></span>
          <input type="text" class="form-control" aria-describedby="sizing-addon1" placeholder="Email Address">
        </div>
        <div class="input-group input-group-lg wow fadeInUp" data-wow-delay="1.6s">
          <span class="input-group-addon" id="sizing-addon1"><i class="fa fa-phone" aria-hidden="true"></i></span>
          <input type="text" class="form-control" aria-describedby="sizing-addon1" placeholder="Phone Number">
        </div>
      </div>
      <div class="col-lg-6 col-md-6 wow fadeInUp" data-wow-delay="2s"><!-- Comment Section -->
        <div class="input-group">
          <textarea name="" rows="6" cols="80" class="form-control"></textarea>
        </div>
        <button class="btn btn-lg wow fadeInUp" data-wow-delay="2.4s" name="">Submit</button>
      </div>
    </div>
  </div>
</div>
<!-- End of Contact -->

<!-- Footer -->
<div id="improvedFooter" class="improvedFooter">
  <div class="container">
    <div class="row">
      <div class="col-lg-4 col-md-4">
        <h4>Contact Info</h4>
        <p><i class="fa fa-envelope" aria-hidden="true"></i> buffaloRisk@buffalo.com</p>
        <p><i class="fa fa-phone" aria-hidden="true"></i> +1 (555) 555-555</p>
        <p><i class="fa fa-home" aria-hidden="true"></i> 111 Main St, Orlando FL</p>
      </div>
      <div class="col-lg-4 col-md-4">
        <h4>About</h4>
        <span>Click </span>
        <a a onclick="window.scrollTo(0, 0)" routerLink="../about">Here!</a>
      </div>
      <div class="col-lg-4 col-md-4">
        <h4>Stay in touch</h4>
        <i class="social fa fa-facebook" aria-hidden="true"></i>
        <i class="social fa fa-twitter" aria-hidden="true"></i>
        <i class="social fa fa-linkedin" aria-hidden="true"></i>
        <i class="social fa fa-youtube" aria-hidden="true"></i>
        <i class="social fa fa-github" aria-hidden="true"></i>
        <br>
        <input type="email" placeholder="Subscribe For Updates">
        <button class="btn btn-success">Subscribe</button>
      </div>
    </div>
  </div>
</div>
<!-- End of footer -->
